:root {
  --main-background: #f5f5f5;
  --main-foreground: #ffffff;
  --main-text-color: #000000;
  --main-inverted-text-color: #ffffff;
  --main-border-color: #edeff1;
  --main-hint-background: rgba(0, 0, 0, 0.8);
  --main-hover: rgba(85, 205, 252, 0.4);
  --main-link-color: #0079d3;
  --main-modal-backdrop-color: rgba(0, 0, 0, 0.5);
  --main-nav-border: #cccccc;
  --main-nav-selected: rgba(85, 205, 252, 0.226);
  --main-tag-color: #e4ffe1;
  --main-tag-text-color: #000000;
  --main-border-radius: 10px;
  --main-border: 1px solid var(--main-border-color);
  --main-shadow: 4px 3px 3px;
  --main-button-transition-time: 0.1s;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next,
body {
  background-color: var(--main-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  // outline: 1px solid #f33;
}

.clickable {
  cursor: pointer;
}

.main-button {
  height: fit-content;
  margin-bottom: 8px;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  background-color: var(--main-foreground);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: all var(--main-button-transition-time);

  &:active {
    border-color: var(--main-nav-selected);
    background-color: var(--main-nav-selected);
    translate: 2px 2px;
    box-shadow: 0 0 0 rgba(#fff, 0);
  }
}

.icon.link {
  --size: 16px;
  width: var(--size);
  height: var(--size);
  margin-bottom: 5px;
  stroke: var(--main-text-color);
  stroke-width: 0.6;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
